# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# project specific
target/*
.idea/*
metadata-qa-marc.iml
qa-catalogue.iml
temp
scala/project
scala/target
scripts/cli-generator/*.sh.txt
metadata-qa-api/

# default input and output base directory
input
output

# copy setdir.sh.template to setdir.sh. Do not add this into git
setdir.sh
*.Rproj
.Rproj.user
.Rhistory

# VS Code Java project settings 
.devcontainer/*
.project
.factorypath
.classpath
.settings

/target/

# environment variables
.env

# used as Docker volume
web-config/configuration.cnf

# Node packages
node_modules
