# Used to start the base image with `docker compose up -d`

version: '2'

services:
  app:
    image: ${IMAGE:-pkiraly/metadata-qa-marc}
    volumes:
      - ./${INPUT:-input}:/opt/qa-catalogue/input
      - ./${OUTPUT:-output}:/opt/qa-catalogue/output
      - ./${WEBBCONFIG:-web-config}:/var/www/html/qa-catalogue/config
      - /etc/timezone:/etc/timezone:ro    # Sync timezone
      - /etc/localtime:/etc/localtime:ro  # Sync localtime
    ports:
      - "${WEBPORT:-80}:80"       # qa-catalogue-web
      - "${SOLRPORT:-8983}:8983"  # Solr
    container_name: ${CONTAINER:-metadata-qa-marc}
