# Used to start the base image with `docker compose up -d`

services:

  solr:
    image: solr:9.6.1
    ports:
      - "${SOLR_PORT:-8983}:8983"
    volumes:
      # Create directory up front with the right permissions, eg.:
      # mkdir ./solr-data && sudo chown -R 8983:8983 ./solr-data && sudo chmod -R 777 ./solr-data
      - ${SOLR_DATA:-./solr-data}:/var/solr/data
      - ${SOLR_ENTRY:-./docker/solr-entrypoint}:/docker-entrypoint-initdb.d
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -s http://localhost:8983",
        ]
      interval: 10s
      timeout: 10s
      retries: 120
    restart: on-failure
    container_name: ${CONTAINER_SOLR:-qa-catalogue-solr}
    networks:
      - qa-catalogue-backend

  cli:
    depends_on:
      solr:
        condition: service_healthy
    # image: ${IMAGE:-pkiraly/metadata-qa-marc}
    image: ${IMAGE:-ghcr.io/pkiraly/qa-catalogue-slim:main}
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./${INPUT:-input}:/opt/qa-catalogue/marc/input
      - ./${OUTPUT:-output}:/opt/qa-catalogue/marc/output
      - ./${LOGS:-logs}:/opt/qa-catalogue/marc/logs
      - ./catalogues:/opt/qa-catalogue/catalogues
#      - ./${WEBBCONFIG:-web-config}:/var/www/html/qa-catalogue/web-config
      - /etc/timezone:/etc/timezone:ro    # Sync timezone
      - /etc/localtime:/etc/localtime:ro  # Sync localtime
    # ports:
      #- "${WEBPORT:-80}:80"       # qa-catalogue-web
      #- "${SOLRPORT:-8983}:8983"  # Solr
    environment:
      SOLR_PROTOCOL: ${SOLR_PROTOCOL:-http}
      SOLR_HOST: ${SOLR_HOST:-solr}
      SOLR_PORT: ${SOLR_PORT:-8983}
    container_name: ${CONTAINER:-qa-catalogue}
    networks:
      - qa-catalogue-backend

  app:
    image: ${IMAGE_WEB:-ghcr.io/pkiraly/qa-catalogue-web:main}
    volumes:
      - ./${BASE_OUTPUT_DIR:-output}:/var/www/html/metadata-qa
      # - ./${CONFIG:-config}:/var/www/html/config
      - ./${WEBBCONFIG:-web-config}:/var/www/html/config
      - /etc/timezone:/etc/timezone:ro    # Sync timezone
      - /etc/localtime:/etc/localtime:ro  # Sync localtime
    ports:
      - ${WEBPORT:-90}:80
    environment:
      IS_DOCKERIZED: true
      SOLR_PROTOCOL: ${SOLR_PROTOCOL:-http}
      SOLR_HOST: ${SOLR_HOST:-solr}
      SOLR_PORT: ${SOLR_PORT:-8983}
    container_name: ${CONTAINER_WEB:-qa-catalogue-web}
    networks:
      - qa-catalogue-backend
    depends_on:
      solr:
        condition: service_healthy
    # qa-catalogue (backend) and Solr must be on the same network (but may also be non-Docker!)
    # extra_hosts:
    #   - qa-catalogue-solr-host:host-gateway

networks:
  qa-catalogue-backend:
    name: qa-catalogue-backend
#    external: true
