#!/usr/bin/env bash

# set your path to root MARC directories
BASE_INPUT_DIR=your/path
BASE_OUTPUT_DIR=your/path

if [ ! -d $BASE_INPUT_DIR/_reports ]; then
  mkdir $BASE_INPUT_DIR/_reports
fi

if [ ! -d $BASE_OUTPUT_DIR ]; then
  mkdir $BASE_OUTPUT_DIR
fi
